@import "settings";
@import "foundation";
@import "fonts";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
.center{
	text-align: center;
}
.button{
	border-radius: 4px;
	padding-left: 2.5em;
	padding-right: 2.5em;
	border-bottom: 1px solid #919090;
    @include background-image(linear-gradient(top, #2abde8, #06b1e4));
    &:hover{
    	@include background-image(linear-gradient(top, #2abde8, #20BBE9));
    }
}
.clf{
	clear: both;
	zoom: 1;
}
html{
	height: 100%;
}
body{
	font-family: 'Ubuntu','Conv_Ubuntu-M';
	background: #323440;
	height: 100%;
	position: relative;
	.login{
		position: absolute;
		width: 450px;
		height: 370px;
		background-color: white;
		left: 50%;
		margin-left: -225px;
		top:40%;
		margin-top: -185px;
		@include box-shadow();

		h1{
			font-size: 3em;
			line-height: 2em;
			text-align: center;
			color:#1eb9e7;
		}
		fieldset{
			padding: 0 20px;
			input[type='text'],input[type='password']{
				padding-left: 95px;
			}
			input[type='submit'] {
				margin-top: 10px;
			}
			label{
				color:#7A7A7A;
				font-size: 14px;
				position: relative;
				display: inline-block;
				top: 22px;
				left:5px;
			}
		}
		.body{
			height: 300px;
		}
		footer{
			height: 70px;
			background-color:#56596a;
		}
		.pointer{
			position: absolute;
			bottom: -60px;
			left: 80px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 60px 60px 0 0;
			border-color: #56596a transparent transparent transparent;
		}
		.logo{
			width: 220px;
			height: 100px;
			margin-top:50px;
		}
	}

}