<!DOCTYPE html>
<html>
<head>
  <!-- http://bluth.is/wordpress/bliss/ -->
  <link href="/static/stylesheets/app.css" media="all" rel="stylesheet" type="text/css" />
  <title>Previous</title>
</head>
<body>
  <div class="bg"></div>
  <header class='fluid'>
    <div class="top-banner">
      <div class="container">
        <a href="/" class="brand">
          <img src="/static/images/logo-white.png" alt="">
          <h1>
            由二顛倒分別見妄
          </h1>
        </a>
      </div>  
    </div>
  </header>
  <div class="navigation fluid">
    <div class="container">
      <div class="mini-logo">
        <img src="/static/images/logo-small.png" alt="">
      </div>
      <nav class="top-bar">
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-dropdown active"><a href="#">Blog</a>
              <ul class="dropdown">
                <li><a href='#'>PHP</a></li>
                <li><a href='#'>CSS</a></li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>Lua</a></li>
                <li><a href='#'>Other</a></li>
              </ul>
            </li>
            <li><a href="#">Previous</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <div class="main clearfix collapse">
    <div class="row collapse">
      <div class="columns large-8">
        <div class="content">
          <% posts.forEach(function(post, i) {  %>
          
          <div class="post">
            <div class="post-title">
              <a href="#" class="author"><img src="/static/images/avatar.jpg" alt=""></a>
              <h2 class="entry-title">
                <%= post.title %>
              </h2>
              <div class="post-meta">
                <ul>
                  <li>25th Sep</li>
                  <li class="divider">/</li>
                  <li>Demo</li>
                  <li class="divider">/</li>
                  <li>0 Comments</li>

                </ul>
              </div>
            </div>
            <div class="entry-image">
              <img src="/static/images/lua.jpg" alt="">
            </div>
            <div class="entry-container">
              <div class="entry-content">
                <p>Hi! Welcome to our theme “Bliss”. We worked our butts of making this Premium WordPress Template for you, we implemented everything we would like to have on our blog and added a couple of other things as well ( things our customers have asked for in the past ). Although we put Bliss in the Personal category it is capable of much more, me and my colleague, Ívar, are two working our business and although our company’s brand is important to us, we want to express ourselves personally to each and every one, so we made sure Bliss would appreciate the fact that sometimes there are more than one person writing for a blog as well.</p>

                <footer class="entry-meta clearfix">
                  <ul class="tags">
                    <li>Welcome</li>
                  </ul>
                  <div class="share-container">
                    <h4>Share Story</h4>
                    <ul class="share-story">

                    </ul>
                  </div>
                </footer>
              </div>
            </div>
          </div>
          <!-- end post -->
          <% }); %>

        </div>
      </div>
      <div class="columns large-4">
        <aside class="side-bar">
          <div class="box feature-post">
            <h3 class='wiget-head'>Featured Posts</h3>
            <div class="wiget-body">

            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <script>
  document.write('<script src=' +
    ('__proto__' in {} ? '/static/javascripts/vendor/zepto' : '/static/javascripts/vendor/jquery') +
    '.js><\/script>')
  </script>
  <script src="/static/javascripts/foundation/foundation.js"></script>
  <script src="/static/javascripts/foundation/foundation.alerts.js"></script>
  <script src="/static/javascripts/foundation/foundation.clearing.js"></script>
  <script src="/static/javascripts/foundation/foundation.cookie.js"></script>
  <script src="/static/javascripts/foundation/foundation.dropdown.js"></script>
  <script src="/static/javascripts/foundation/foundation.forms.js"></script>
  <script src="/static/javascripts/foundation/foundation.joyride.js"></script>
  <script src="/static/javascripts/foundation/foundation.magellan.js"></script>
  <script src="/static/javascripts/foundation/foundation.orbit.js"></script>
  <script src="/static/javascripts/foundation/foundation.placeholder.js"></script>
  <script src="/static/javascripts/foundation/foundation.reveal.js"></script>
  <script src="/static/javascripts/foundation/foundation.section.js"></script>
  <script src="/static/javascripts/foundation/foundation.tooltips.js"></script>
  <script src="/static/javascripts/foundation/foundation.topbar.js"></script>
  <script src="/static/javascripts/app.js"></script>
</body>
</html>