<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/app.css" media="all" rel="stylesheet" type="text/css" />
    <title>Previous</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>

  <body>
    <%- body %>
    </body>
</html>
