<div class="post">
  <div class="entry-container">
    <div class="entry-content">
      <h2>Create New Post</h2>
      <form action="/posts" class='custom' method='POST'>

        <div class="row collapse">
          <div class="columns small-3">
            <label for="post-title" class='inline'>Post Title:</label>
          </div>
          <div class="columns small-9">
            <input type="text" name='title' id='post-title'> 
          </div>
        </div>

        <div class="row collapse">
          <div class="columns small-3">
            <label for="post-ident" class='inline'>Post url:</label>
          </div>
          <div class="columns small-9">
            <input type="text" name='ident' id='post-ident'>
          </div>
        </div>
        <div class="row collapse">
          <div class="columns small-12">
            <label for="post-text">Post Content:</label>
            <br>
            <textarea name="text" id="post-text" ></textarea>

          </div>
        </div>
        <div class="row collapse">
          <div class="columns small-3">
            <label for="post-tags" class='inline'>Post Tags:</label>
          </div>
          <div class="columns small-9">
            <input type="text" name='tags' id='post-tags'>
          </div>
        </div>
        <div class="row collapse">
          <div class="columns small-12">
            <input type="submit" class='right button'>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


